:host .option{
  background-color: #1fbba6;
}
.service-provider-search-container{
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
}
form{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row-buttons{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.select-sphere{
  width: 450px;
}
input, select, angular2-multiselect{
  width: 100%;
  margin-bottom: 30px;
  border: 1px #bcbcbc solid;
  border-radius: 2px;
  height: 46px;
  padding-left: 25px;
  font-size: 16px;
  outline: none;
}
select, angular2-multiselect{
  width: 49%;
  cursor: pointer;
}
angular2-multiselect{
  padding-left: 0 !important;
}
.search-button, .reset-button{
  width: 23.5%;
  height: 46px;
  background-color: #25ced1;
  color: white;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 2%;
  margin-bottom: 40px;
}
.search-button:hover{
  background-color: #21a7a9;
}
.search-button:active{
  background-color: #2d3e50;
}
.reset-button{
  background-color: #2d3e50;
}
.search-button:disabled, .reset-button:disabled, select:disabled{
  background-color: #dfdfdf;
}
hr{
  border: 1px #bcbcbc solid;
  border-bottom: none;
}
.amount{
  color: #8e8d8d;
  padding-left: 25px;
  margin: 40px 0;
}
.provider-container{
  width: 100%;
  border-top: 1px #bcbcbc solid;
  padding: 15px 0 20px;
  display: flex;
  flex-direction: column;

}
.provider-name{
  font-size: 20px;
  color: #2d3e50;
  font-weight: bold;
  width: 100%;
}
.provider-address{
  color: #8e8d8d;
  margin: 20px 0 30px;
  width: 100%;
}
.provider-category{
  margin: 0 12px 10px 0;
  background-color: #ff8a5b;
  height: 24px;
  padding: 0 17px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white
}
.provider-category:hover{
  background-color: #db7349;
}
.provider-category:active{
  background-color: #2d3e50;
}
