<h3>New Service Provider Creation</h3>
<div class="service-provider-creation-container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!formDataWasSaved">

    <div class="divider">
      <hr>
      <span>Обязательные поля</span>
    </div>

    <label for="name"><span class="star">*</span>Наименование компании:</label>
    <div class="row">
      <input type="text" id="name" name="name" ngModel #name="ngModel" placeholder="Наименование поставщика услуг"/>
      <div *ngIf="nameError" class="error-message">
        <span>Укажите наименование Вашей организации</span>
      </div>
    </div>

    <div>
      <label for="sphere"><span class="star">*</span>Сфера услуг компании:</label>
      <div class="row">
        <select id="sphere" name="sphere" ngModel #sphere="ngModel" (change)="onServiceSphereSelect($event)">
          <option value="" disabled selected hidden>Выбрать категорию сферы услуг</option>
          <option  *ngFor="let sphere of domainCategories" value="{{ sphere.id }}">{{ sphere.name.slice(0, 1).toUpperCase() + sphere.name.slice(1) }}</option>
        </select>
        <div *ngIf="serviceSphereError" class="error-message">
          <span>Ни одной категории не выбрано</span>
        </div>
      </div>

      <label for="type"><span class="star">*</span>Вид услуг компании:</label>
      <div class="row">
        <select #type="ngModel" id="type" name="type" ngModel [disabled]="sphere.pristine" (change)="onServiceTypeSelect($event)">
          <option value="" disabled selected hidden>Выбрать категорию вида услуг</option>
          <option *ngFor="let type of classCategories" value="{{ type.id }}">{{ type.name.slice(0, 1).toUpperCase() + type.name.slice(1) }}</option>
        </select>
        <div *ngIf="serviceTypesError" class="error-message">
          <span>Ни одной категории не выбрано</span></div>
      </div>
    </div>

    <div *ngIf="type.value" class="add-category" (click)="onAddCategory($event)">
      + <span>Добавить категорию</span>
    </div>

    <label for="city"><span class="star">*</span>Город:</label>
    <div class="row">
      <input type="text" id="city" name="city" ngModel #city="ngModel" placeholder="Город поставщика услуг"/>
      <div *ngIf="cityError" class="error-message">
        <span>Укажите город поставщика услуг</span></div>
    </div>

    <div class="divider">
      <hr>
      <span>Минимум одно из пяти полей должно быть заполнено</span>
    </div>

    <label for="address">Адрес</label>
    <div class="row">
      <div ngModelGroup="address" id="address" class="address">
        <input type="text" name="street" ngModel #street="ngModel" placeholder="Улица/проспект"/>
        <input type="text" name="building" ngModel #building="ngModel" [disabled]="!street.value" placeholder="Дом"/>
        <input type="text" name="block" ngModel  [disabled]="!building.value" placeholder="Корпус"/>
      </div>
      <div *ngIf="contactsError" class="error-message">
        <span>Нужно заполнить хотя бы одно поле</span></div>
    </div>

    <label for="mobile">Номер мобильного телефона</label>
    <div class="row">
      <input type="tel" id="mobile" name="mobile" ngModel #mobile="ngModel" placeholder="+___ (__) ___-__-__"/>
      <div *ngIf="contactsError" class="error-message">
        <span>Нужно заполнить хотя бы одно поле</span></div>
    </div>

    <label for="phone">Номер стационарного телефона</label>
    <div class="row">
      <input type="tel" id="phone" name="phone" ngModel #phone="ngModel" placeholder="+___ (__) ___-__-__"/>
      <div *ngIf="contactsError" class="error-message">
        <span>Нужно заполнить хотя бы одно поле</span></div>
    </div>

    <label for="email">E-mail поставщика услуг</label>
    <div class="row">
      <input type="email" id="email" name="email" ngModel email #email="ngModel" placeholder="name@example.com"/>
      <div *ngIf="contactsError" class="error-message">
        <span>Нужно заполнить хотя бы одно поле</span></div>
    </div>

    <label for="site">Сайт поставщика услуг</label>
    <div class="row">
      <input type="text" id="site" name="site" ngModel #site="ngModel" placeholder="www.name.com"/>
      <div *ngIf="contactsError" class="error-message">
        <span>Нужно заполнить хотя бы одно поле</span></div>
    </div>

    <div class="row-button">
      <button type="submit" [disabled]="!name.value || !sphere.value || !type.value || !city.value || (!street.value && !mobile.value && !phone.value && !email.value && !site.value)">Сохранить</button>
    </div>

    <div class="row">

    </div>

  </form>
  <div class="saved-data" *ngIf="formDataWasSaved">
    <label>Наименование компании</label>
    <div class="row">
      <div>{{this.serviceProvider.name}}</div>
    </div>

    <label>Сфера услуг компании</label>
    <div class="row">
      <div>
        <span class="saved-category"></span>
      </div>
    </div>

    <label>Вид услуг компании</label>
    <div class="row">
      <div>
        <span class="saved-category"></span>
      </div>
    </div>

    <label>Город</label>
    <div class="row">
      <div>{{ this.serviceProvider.city }}</div>
    </div>

    <label *ngIf="this.serviceProvider.street">Адрес</label>
    <div class="row">
      <div class="saved-street" *ngIf="this.serviceProvider.street">{{ this.serviceProvider.street}}</div>
      <div class="saved-building" *ngIf="this.serviceProvider.building">{{ this.serviceProvider.building}}</div>
      <div class="saved-building" *ngIf="this.serviceProvider.block">{{ this.serviceProvider.block}}</div>
    </div>

    <label *ngIf="this.serviceProvider.mobile">Номер мобильного телефона</label>
    <div class="row" *ngIf="this.serviceProvider.mobile">
      <div>{{ this.serviceProvider.mobile }}</div>
    </div>

    <label *ngIf="this.serviceProvider.phone">Номер стационарного телефона</label>
    <div class="row" *ngIf="this.serviceProvider.phone">
      <div>{{ this.serviceProvider.phone }}</div>
    </div>

    <label *ngIf="this.serviceProvider.email">E-mail поставщика услуг</label>
    <div class="row" *ngIf="this.serviceProvider.email">
      <div>{{ this.serviceProvider.email}}</div>
    </div>

    <label *ngIf="this.serviceProvider.site">Сайт поставщика услуг</label>
    <div class="row" *ngIf="this.serviceProvider.site">
      <div>{{ this.serviceProvider.site }}</div>
    </div>

    <div class="row-button">
      <span>Значения сохранены!</span>
      <button class="return" type="button">Вернуться</button>
    </div>
  </div>
</div>
