<div class="service-category-container">
  <form *ngIf="!newSphere" (ngSubmit)="onSubmit(f, $event)" #f="ngForm">
    <div class="select-sphere">
      <select name="sphere" ngModel #sphere="ngModel" (change)="onServiceSphereSelect(f, $event)">
        <option *ngFor="let sphere of domainCategories" value="{{ sphere.id }}">{{ sphere.name.slice(0, 1).toUpperCase() + sphere.name.slice(1) }}</option>
        <option value="" disabled selected="true" hidden>Выбрать категорию сферы услуг</option>
      </select>
    </div>
    <input type="text" name="type" [(ngModel)]="typeCategory" #type="ngModel" [disabled]="sphere.pristine"
           (click)="errorSubmit = false" placeholder="Укажите категорию видов услуг" pattern="[ЁёА-я\!-\~][\sЁёА-я\!-\~]*" maxlength="30" />
    <span *ngIf="typeError" class="error-message">Данная категория уже существует</span>
    <button *ngIf="!formDataWasSaved" type="submit" [disabled]="type.pristine || sphere.pristine || type.value.length < 1 || errorSubmit">Сохранить</button>
    <div *ngIf="formDataWasSaved" class="back">
      <span>Значение сохранено</span>
      <button type="button" (click)="fromBackToSave(f, $event)">Вернуться</button>
    </div>
  </form>

  <form *ngIf="newSphere" (ngSubmit)="onSubmit(formCreateCategory, $event)" #formCreateCategory="ngForm">
    <input type="text" name="sphereCreate" [(ngModel)]="sphereCreate" #sphereCreateName="ngModel"
           (click)="errorSubmit = false" placeholder="Выбрать категорию сферы услуг" pattern="[ЁёА-я\!-\~][\sЁёА-я\!-\~]*" maxlength="30" />
    <span *ngIf="sphereError" class="error-message">Данная категория уже существует</span>
    <input type="text" name="type" [(ngModel)]="typeCategoryCreate" #typeCategoryCreateName="ngModel"
           (click)="errorSubmit = false" [disabled]="sphereCreateName.value === ''" placeholder="Укажите категорию видов услуг"
           pattern="[ЁёА-я\!-\~][\sЁёА-я\!-\~]*" maxlength="30" />
    <span *ngIf="typeError" class="error-message">Данная категория уже существует</span>
    <button *ngIf="!formDataWasSaved" type="submit" [disabled]="errorSubmit || typeCategoryCreateName.pristine ||
    sphereCreateName.pristine || typeCategoryCreateName.value.length < 1 || sphereCreateName.value.length < 1">Сохранить</button>
    <div *ngIf="formDataWasSaved" class="back">
      <span>Значение сохранено</span>
      <button type="button" (click)="fromBackToSave(formCreateCategory, $event)">Вернуться</button>
    </div>
  </form>

  <div *ngIf="!newSphere && !formDataWasSaved" class="create-new-category">
    <p>Искомая категория сферы услуг отсутствует?</p>
    <button (click)="onClick($event)">Создать категорию сферы услуг</button>
  </div>

  <div *ngIf="newSphere && !formDataWasSaved" class="create-new-category">
    <p>Передумали создавать категорию сферы услуг?</p>
    <button (click)="onClick($event)">Выбрать существующую категорию сферы услуг</button>
  </div>

</div>
