<div style="text-align:center">
  <h2>
    <span><a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Home</a></span> |
    <a routerLink="/user" routerLinkActive="active">User</a> |
    <a routerLink="/view" routerLinkActive="active">View</a> |
    <a routerLink="/search" routerLinkActive="active">Search</a> |
    <a routerLink="/service-providers/0" routerLinkActive="active">Service Provider</a> |
    <a routerLink="/service-categories" routerLinkActive="active">Service Categories</a> |
    <a routerLink="/service-providers/creation" routerLinkActive="active">New Service Provider</a>
  </h2>
</div>
<router-outlet></router-outlet>
