.service-category-container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  color: #2c3d4f;
  background-color: white;
  border-radius: 2px;
}
.create-new-category{
  width: 375px;
  margin-top: 67px;
  font-size: 15px;
}
.create-new-category p{
  margin-bottom: 5px;
}
.create-new-category button{
  color: #ff8a5b;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 15px;
}
.error{
  border-color: #ea526f !important;
}
.error-message{
  color: #ea526f;
  margin: -50px 0 31px;
}

.error-type {
  margin: -80px 0 61px;
}

form{
  width: 530px;
  margin: 50px 30px 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
}
form button{
  width: 215px;
  border-radius: 2px;
  border: none;
  outline: none;
  background-color: #25ced1;
  height: 50px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
form button:disabled{
  background-color: #a7a7a7;
  cursor: auto;
}
form input, select{
  width: 530px;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  color: #2d3e50;
  height: 46px;
  padding-left: 30px;
  margin-bottom: 60px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

form input:disabled, select:disabled{
  background-color: white;
  cursor: auto;
}

.type-choose:disabled {
  background-color: #dfdfdf !important;
}

li{
  list-style: none;
}
.back{
  display: flex;
  align-items: baseline;
}
.back span{
  color: #25ced1;
  margin-right: 30px;
}
.back button{
  background-color: #2d3e50;
}
.select-sphere{
  width: 530px;
  margin-bottom: 60px;
}

.categories-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

.type {
  margin-bottom: 91px !important;
}
